<!-- 
  projects.ejs
  Marco Mejia 301082190
  02 Feb 2021

  Projects page
-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  
  <!-- Projects Content -->
  <main class="projects">
    <div class="container">
      <div class="section-title">
        <h2>Projects</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="work-box">
            <a href="/assets/images/project-1.png">
              <div class="work-img">
                <img src="/assets/images/project-1.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">First Android App</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Mobile Application Development</span> / <span class="w-date">07 Feb. 2021</span>
                    <p class="w-description">First android application that calls different fragments and display messages through the whole
                      lifecycle of the application.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/assets/images/project-2.png">
              <div class="work-img">
                <img src="/assets/images/project-2.png" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">Banking Application</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Programming 2</span> / <span class="w-date">04 Dec. 2020</span>
                    <p class="w-description">First android application that calls different fragments and display messages through the whole
                      lifecycle of the application.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="work-box">
            <a href="/assets/images/project-3.jpg">
              <div class="work-img">
                <img src="/assets/images/project-3.jpg" alt="" class="img-fluid">
              </div>
            </a>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-12">
                  <h2 class="w-title">Restaurant Website</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Freelance</span> / <span class="w-date">10 Jan. 2021</span>
                    <p class="w-description">
                      Simple website developed using PHP, HTML5 and CSS for a restaurant located in Mexico.
                      The website displays the restaurant's menu and the different restaurant locations.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <!-- End Projects Content -->

<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>