<!-- 
  services.ejs
  Marco Mejia 301082190
  02 Feb 2021

  Services page
-->

<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>

  <!-- Services Content -->
  <main class="services">
    <div class="container">
      <div class="section-title">
        <h2>Services</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="fas fa-desktop" id="service-icon"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Web Development</h2>
              <p class="s-description text-center">
                Customiziation and development for any kind of web platform.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="fas fa-code" id="service-icon"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Application Development</h2>
              <p class="s-description text-center">
                Design, Development and Customization for Java and C# applications.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="fas fa-mobile-alt" id="service-icon"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Mobile Development</h2>
              <p class="s-description text-center">
              iOS & Android customized mobile application development.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="fas fa-database" id="service-icon"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Database Design</h2>
              <p class="s-description text-center">
                Database Design and Creation for any kind of business requirements.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="fas fa-server" id="service-icon"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Site Administration</h2>
              <p class="s-description text-center">
                Cloud site management for multiple platforms such as Azure, AWS, etc.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="far fa-edit" id="service-icon"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Software Design</h2>
              <p class="s-description text-center">
                Software Design and Architecture based on business requirements.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="break"></div>
    </div>
  </main>
  <!-- End Services Content -->
  
<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>