<!-- 
  about.ejs
  Marco Mejia 301082190
  02 Feb 2021
  
  About Me page
-->
<%- include partials/header.ejs %>
<%- include partials/main_nav.ejs %>
  
  <!-- About Me Content -->
  <main id="about" class="about">
  <div class="container">
    <div class="section-title">
      <h2>About Me</h2>
      <p>Hi there, my name is Marco Mejia and welcome to the about me page. I was born in Mexico; therefore I can speak Spanish and English.
        Previously, I completed a bachelor's degree in Computer Systems Engineering. Nowadays, I am studying the second semester from the Software
        Engineering Technology program at Centennial College.
      </p>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <img src="/Assets/images/personal_photo.jpeg" class="img-fluid" alt="">
      </div>
      <div class="col-lg-8 pt-4 pt-lg-0 content">
        <h3>Software developer</h3>
        <p>
          Multi-faceted Software Developer knowledgeable in HTML, JavaScript, Java, C#. True team player offering 5 years of experience in software development.
        </p>
        <div class="row">
          <div class="col-lg-6">
            <ul>
              <li><i class="fas fa-caret-right"></i> <strong>Birthday:</strong> 22 Mar 1994</li>
              <li><i class="fas fa-caret-right"></i> <strong>Website:</strong> www.marcomejia.com</li>
              <li><i class="fas fa-caret-right"></i> <strong>Phone:</strong> (+1) 647 904-4127</li>
              <li><i class="fas fa-caret-right"></i> <strong>City:</strong> Toronto, Canada</li>
            </ul>
          </div>
          <div class="col-lg-6">
            <ul>
              <li><i class="fas fa-caret-right"></i> <strong>Age:</strong> 26</li>
              <li><i class="fas fa-caret-right"></i> <strong>Degree:</strong>Computer Systems Engineering</li>
              <li><i class="fas fa-caret-right"></i> <strong>Email:</strong> markmejiar@gmail.com</li>
              <li><i class="fas fa-caret-right"></i> <strong>Resume:</strong> <a href="/Assets/files/Marco_Mejia_Resume.pdf">PDF Version</a></li>
            </ul>
          </div>
        </div>
        <p>
          Always looking for new challenges to continuously develop in personal and work environments.
          Confident in my ability to adapt, face and overcome challenges, always giving the best possible solution.
          Excellent interpersonal skills, demonstrated by communication with clients, colleagues and <non-technical>
          professionals on a daly basis.
          </non-technical>
        </p>
      </div>
    </div>
  </div>
  </main>
  <!-- End About Me Content -->
  
<%- include partials/bottom_nav.ejs %>  
<%- include partials/footer.ejs %>